.route {
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-flex;
  /*  standardize icon size*/
  font-size: 14px;
  height: 2.2em;
  justify-content: center;
  margin: 5px;
  opacity: 1;
  text-align: center;
  width: 2.2em;

  &+.faded {
    opacity: 0.5;
  }
}

button.route {
  cursor: pointer;
}

span {
  align-self: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 550;
  flex: 1 1;
}
