.route {
  border-radius: 20px;
  display: inline-flex;
  height: 2.2em;
  margin: 5px;
  width: 2.2em;
}

span {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 550;
  flex: 1 1;
  line-height: 1.9em;
  text-align: center;
}
