.header {
  border-bottom: 1px solid #000;

  h1 {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0.5em 0.3em;
  }

  h2 {
    display: inline-block;
    margin: 0.5em;
  }

  .checkbox {
    display: inline-block;
  }

  .routeList {
    display: block;
    margin: 0 calc(0.5em - 5px) 0.5em;
  }
}

.container {
  display: flex;
  flex-direction: row;

  .stationData {
    overflow: hidden;

    .stationDataHeader {
      background: #000;
      color: #fff;
      display: flex;
      padding: 0.5em 0.3em;

      h3 {
        margin: 0;
      }

      span {
        font-size: 1em;
        text-align: right;
      }
    }
  }

  .stations {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow: scroll;
  }
}
