.App {
	--blue: #0039A6;
	--orange: #FF6319;
	--green: #6CBE45;
	--brown: #996633;
	--grey: #A7A9AC;
	--yellow: #FCCC0A;
	--slate: #808183;
	--red: #EE352E;
	--forest: #00933C;
	--purple: #B933AD;
	--sea: #0078C6;
}
