.station {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  min-width: 20em;
  padding: 10px;

  .name {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
    margin: 0.5em 0;
  }

  .list {
    max-height: 15em;
    overflow: scroll;
  }

  .stop {
    background-color: rgb(128 128 128 / 20%);
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    padding: 0.2em;

    &:nth-child(even) {
      background-color: rgb(128 128 128 / 40%);
    }

    .route {
      font-size: 10px;
      display: inline-flex;
    }
  }
}
