.station {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  min-width: 20em;
  padding: 10px;

  .name {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
    margin: 0.5em 0;
  }

  .stop {
    font-weight: 400;
    font-size: 0.8em;

    .route {
      font-size: 10px;
      display: inline-flex;
    }
  }
}
